.create,
.results {
  padding: 1rem 1.5rem;
  text-align: center;
}

.section_line {
  width: 25%;
  height: 0.01rem;
  margin: 2.88rem auto;
  background-color: #9cafc3;
}

.title_icon {
  width: 1.44rem;
  display: block;
  margin: 0.5rem auto;
}

.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (46%) [auto-fit];
  grid-template-columns: repeat(auto-fit, 46%);
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.88rem;
}

.grid .gifo {
  position: relative;
}

.error_msg {
  width: 80%;
  text-align: center;
  margin: 5% auto;
}

.error_msg img {
  width: 9.38rem;
  margin-bottom: 2rem;
}

.create__layout {
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.create__controls {
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.create__controls .empty {
  width: 20%;
}

.create .text {
  color: #000000;
}

.camera {
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
}

.camera img {
  width: 7.69rem;
}

.camera .path {
  width: 4.4rem;
}

.upload__container {
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  border: 1px solid #572ee5;
  padding: 100px;
  position: relative;
}

.box1 {
  position: absolute;
  border-left: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
  left: 0;
  top: 0;
  height: 25px;
  width: 27px;
  margin: 15px;
}

.box2 {
  position: absolute;
  border-right: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
  right: 0;
  top: 0;
  height: 25px;
  width: 27px;
  margin: 15px;
}

.box3 {
  position: absolute;
  border-left: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 27px;
  margin: 15px;
}

.box4 {
  position: absolute;
  border-right: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
  right: 0;
  bottom: 0;
  height: 25px;
  width: 27px;
  margin: 15px;
}
*/ .upload__gifo {
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 20rem;
  position: relative;
}

.upload__btns {
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 11rem;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.upload__btns .each {
  font-family: "Roboto", sans-serif;
  padding: 0.4rem 0.6rem;
  font-size: 1.13rem;
  line-height: 0.94rem;
  border-radius: 50%;
}

.upload__bar {
  width: 100%;
  height: 0.43rem;
  background-color: #572ee5;
  margin: 1.5rem auto;
}

.controls {
  width: 60%;
  position: relative;
}

.counter {
  text-align: right;
  position: absolute;
  top: 15%;
  right: 8%;
}

.counter__recording {
  text-align: right;
}

.counter__repeat {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #572ee5;
}

.step {
  background-color: transparent;
  border: 1px solid #572ee5;
  color: #572ee5;
}

.step_now {
  background-color: #572ee5;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.94rem;
  line-height: 1.88rem;
  text-transform: uppercase;
  letter-spacing: 0;
  padding: 1rem 2.25rem;
  width: auto;
  border: 1px solid #572ee5;
  border-radius: 1.9rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.empty {
  width: 25%;
}

.film_reel {
  width: 20%;
}

.film_reel img {
  width: 8.88rem;
}

.overlay {
  background-color: #572ee5;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overlay__icon {
  width: 1.5rem;
  margin-bottom: 1rem;
}

.overlay__info {
  position: absolute;
  top: 35%;
  right: 33%;
}

.overlay .gifo__buttons {
  width: 7rem;
}

.overlay .counter_text {
  color: #ffffff;
}

.recording_video {
  width: 100%;
  height: 20rem;
}

.hero {
  padding: 1rem 1.5rem;
  text-align: center;
}

.hero .main_title {
  margin-bottom: 2rem;
}

.welcome {
  width: 17.06rem;
  display: block;
  margin: 0 auto;
}

.trending__topics {
  width: 60vw;
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.trending__title {
  margin-top: 2rem;
}

.trending__links {
  margin-left: 0.5rem;
  cursor: pointer;
  display: inline;
}

.trending {
  background-color: #f3f5f8;
  padding: 1rem 1.5rem;
  text-align: center;
}

.trending .section_title {
  margin-top: 2rem;
}

.trending .text {
  color: #000000;
  margin-bottom: 2rem;
}

.footer {
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 0.31rem solid #572ee5;
}

.footer .small_text {
  color: #000000;
}

.dark {
  background-color: #37383c;
  color: #ffffff;
}

.dark i {
  color: #ffffff;
}

.dark .text {
  color: #ffffff;
}

.dark .navbar {
  background-color: #37383c;
}

.dark .navbar,
.dark .footer {
  border-color: #222326;
}

.dark .menu {
  background-color: #222326;
}

.dark .menu__item a {
  color: #ffffff;
}

.dark .search {
  border-color: #ffffff;
  caret-color: #ffffff;
}

.dark .search__input {
  color: #ffffff;
}

.dark .search i {
  color: #ffffff;
}

.dark .modal {
  background: rgba(34, 35, 38, 0.9);
}

.dark .modal__text {
  color: #ffffff;
}

.dark .btn,
.dark .button {
  border-color: #ffffff;
  color: #ffffff;
}

.dark .btn:hover,
.dark .button:hover {
  background-color: #ffffff;
  color: #37383c;
}

.dark .step {
  border-color: #ffffff;
  color: #ffffff;
}

.dark .step_now {
  background-color: #ffffff;
  color: #37383c;
}

.dark .trending {
  background-color: #222326;
}

.dark .small_text {
  color: #ffffff;
}

.dark .prev,
.dark .next {
  background-color: #ffffff;
  color: #222326;
}

.dark .prev:hover,
.dark .next:hover {
  background-color: #222326;
  color: #ffffff;
  border-color: #ffffff;
}


@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .navbar {
    position: sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem 3rem;
  }

  .logo {
    width: 3.69rem;
  }

  .menu {
    display: box;
    display: -ms-flexbox;
    display: flex;
    box-orient: horizontal;
    box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: visible;
    background-color: transparent;
    position: relative;
    top: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }
  .menu__item {
    padding: 0;
    margin: 0 1rem;
  }
  .menu__item:first-child {
    margin-left: 0;
  }
  .menu__item a {
    color: #572ee5;
    text-transform: uppercase;
  }
  .menu__line {
    display: none;
  }

  .dark .menu {
    background-color: transparent;
  }

  .break {
    display: none;
  }

  .hero {
    padding: 1rem;
  }
  .hero .main_title {
    max-width: 35.45rem;
    margin: 0 auto;
  }

  .welcome {
    width: 24.94rem;
    margin-top: 1.5rem;
  }
  .search {
    width: 35.45rem;
    margin: 0 auto;
  }

  .grid {
    -ms-grid-columns: (20%) [auto-fit];
    grid-template-columns: repeat(auto-fit, 20%);
    margin-top: 2.25rem;
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    padding: 5rem auto;
    width: auto;
  }
  .trending__topics {
    width: 25.13rem;
  }

  .modal {
    margin: auto;
  }
}

@media (min-width: 900px) {
  .main_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2.19rem;
    line-height: 3.13rem;
    text-align: center;
  }
  .section_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.56rem;
    line-height: 1.88rem;
    text-align: center;
    margin: 15px;
  }
  .trending__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.56rem;
    text-align: center;
  }
  .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.44rem;
  }
  .trending__links {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.56rem;
    text-align: center;
  }
  .small_text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 1.25rem;
  }

  .btn:hover,
  .button:hover {
    background-color: #572ee5;
    color: #ffffff;
  }

  .menu {
    padding: 0;
    background-color: inherit;
  }
  .menu__item:hover {
    border-bottom: 2px solid #5ed7c6;
  }
  .menu__item:last-child {
    margin-right: 0;
    display: block;
  }
  .menu__item:last-child:hover {
    border-bottom: none;
  }
  .menu__item a:active {
    color: #9cafc3;
  }
  .trendslider {
    width: 80%;
    height: 17.19rem;
  }
  .trendslider__slider {
    width: 129.6rem;
    height: 17.19rem;
  }
  .trendslider .gifo {
    width: 20.6rem;
    height: 100%;
  }
  .trendslider .gifo:hover .gifo__hover {
    opacity: 0.6;
  }
  .trendslider .gifo img {
    width: 20.6rem;
    height: 100%;
  }
  .prev,
  .next {
    display: block;
  }
  .gifo:hover .gifo__hover {
    opacity: 0.6;
  }

  .footer {
    display: box;
    display: -ms-flexbox;
    display: flex;
    box-orient: horizontal;
    box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3rem 9.75rem;
  }

  .social {
    margin: 0;
    display: box;
    display: -ms-flexbox;
    display: flex;
    box-orient: horizontal;
    box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 20%;
    padding: 0;
  }
  .social__icons {
    width: 50%;
    margin: 0;
  }
  .social__icons i {
    margin: 0 0.5rem;
  }
  .social__icons i:hover {
    color: #572ee5;
  }
}

@media (min-width: 1100px) {
  .navbar {
    padding: 1.5rem 9.75rem;
  }
}