.conttitlefav{
    text-align: center;
    
}
.containersfav{
    margin: 5% 2%;
}
.imagesfavs{
    display: grid;
    gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.titlefavempty{
    color: #50E3C2;
    font-size: 22px;
}
