.footer{
    display: flex;
    justify-content: space-between;

}
.socialnetworks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 4% 6% 4% 9%;

}
.copy{
    padding: 4% 6% 4% 10%;
    margin-bottom: unset;
}