.sliderimages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: unset;
    gap: 1%;
}
.imgGif {
    height: 400px;
    width: 100%;
    margin: unset;
   
  }
.card{
    position: relative;
    height: 400px
}
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .card:hover .overlay{
    opacity: 0.6;
  }
  .text {
    display: block;
    color: white;
    font-size: 20px;
    position: relative;
    margin-top: 70%;
    margin-left: 10%;
  
  }
  .buttons{
      position: absolute;
      top: 2%;
      left: 60%;
  }

  .heart{
      background-image: url(../images/icon-fav.svg);
      width: 32px;
      height: 32px;
      border: none;
    border-radius: 6px;
      
  }
  .download{
    background-image: url(../images/icon-download.svg);
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 6px;
    margin-left: 6px;
}
.max{
    background-image: url(../images/icon-max-normal.svg);
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    margin-left: 6px;
}
.heart:hover{
  background-image: url(../images/icon-fav-hover.svg);
  background-color: white;
  width: 32px;
  height: 32px;
}
.heartactive{
  background-image: url(../images/icon-fav-active.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.max:hover{
  background: white;
  background-image: url(../images/icon-max-hover.svg);
  opacity: 1;
}
.download:hover{
  background-image: url(../images/icon-download-hover.svg);
  
}
