.mostview{
    background-color: #F3F5F8;
    margin-top: 5%;
    padding-bottom: 15%;
}
.titlemostview{
    text-align: center;
    font-family: $fontprincipal;
    font-weight: bold;
    font-size: 20px;
    color: $colordiurno;
    padding-top: 7%;
}

.desc{
    text-align: center;
    font-family: $fontsecundario;
    font-size: 16x;
    color: #000000;
    padding: 3% 10%;
}

