.titlemostview{
    font-size: 25px;
    line-height: 30px;

}
.desc{
    font-size: 18px;
}
.slider{
    display: grid;
    grid-template-columns: 0.5fr 7fr 0.5fr;
    margin: 1% 4%;
}


.left{
    display: unset;
    background-image: url(/images/button-slider-left.svg);
    width: 40px;
    height: 40px;
    background-color: none;
    border: none;
    align-self: center;
    
}
.right{
    display: unset;
    background-image: url(/images/Button-Slider-right.svg);
    width: 40px;
    height: 40px;
    background-color: none;
    border: none;
    justify-self: end;
    align-self: center;
   
}
.leftHover{
    background-image: url(/images/button-slider-left-hover.svg);
}
.rigthHover{
    background-image: url(/images/Button-Slider-right-hover.svg);
}


