.title{
    font-size: 35px;
    padding: 2% 15% 2% 15%;
    line-height: 50px;
}

.imagen img{
    padding: 0% 30%;
    width: 100%;
    padding-top: 5%;
}
.br{
    display: unset;
}
.section-one-div{
    margin: 0% 25%;
    width: 50%;
}
.div-search{
    width: 90%; 
    
}

.trending{
    font-size: 24px;
    font-weight: 700;
}
.mostsearch{
    font-size: 18px;
   
}
#TT{
   justify-content: center;
   margin: unset;
}
.activesearch{
    margin-top: 10%;

}
#searchimagesresults{  
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    gap: 1%;
}
.borde{
    margin-top: unset;
}
.titlesearch{
    margin-top: 5%;
    font-size: 24px;
}

.container-suggestions{
    margin: 0% 22%;
}
.border{
    border:1px solid #572EE5;
    border-top: none;
}
.cardsearch{
    height: 350px;
    position: relative;
    margin: none;
    padding: none;
}
.contGifsearch{
    width: 100%;
    height: 350px;
   
}
.imgsearchresult{
    width: 100%;
    height: 100%;
    margin: unset;
    padding: unset;
}
.overlaysearch {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
   
  }
  .cardsearch:hover .overlaysearch{
    opacity: 0.6;
  }

#titlesearchresult{
    margin: 0px 25px;
}
#container-search{
    width: 100%;
}


