.title{
    font-size: 35px;
    padding: 2% 15% 2% 15%;
    line-height: 50px;
}

.imagen img{
    padding: 0% 30%;
    width: 100%;
    padding-top: 5%;
}
.br{
    display: unset;
}
.container-search{
    padding: 0% 22%;
    
}
.search{
    font-size: 16px;
}
.icon-search{
    right: 25%;
}
.trending{
    font-size: 24px;
    font-weight: 700;
}
.mostsearch{
    font-size: 18px;
   
}
#TT{
   justify-content: center;
   margin: unset;
}
.activesearch{
    margin-top: 10%;

}
#searchimagesresults{  
    grid-template-columns: 1fr 1fr 1fr 1fr;  
}
.borde{
    margin-top: 5%;
}
.titlesearch{
    margin-top: 5%;
    font-size: 24px;
}
.choice{
    margin-left: 10%;
    margin-top: 3%;
    font-family: $fontprincipal;
    color: $colordiurno;
}
.container-suggestions{
    margin: 0% 22%;
    display: flex;
    flex-direction: column;
    border:1px solid #572EE5;
    border-top: none;
    height: 100%;
    border-radius: 27px;
    background-color: transparent;

}
.icon-suggestion{
    background-image: url(/images/icon-search.svg);
    z-index: 4;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 3%;
}
.suggestion{
    display: flex;
    flex-direction: row;
}
.border{
    border:1px solid #572EE5;
    border-top: none;
}