@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.line {
  background-color: #572EE5;
  height: 5px;
  width: 100%;
}

.logo {
  display: none;
}

.logomobile {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 34px;
  left: 6%;
  width: 53px;
  height: 49px;
  border: none;
  cursor: pointer;
}

.logomobile img {
  width: 50px;
  height: 49px;
}

.ham {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 47px;
  right: 7%;
  width: 15px;
  height: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(/images/burger.svg);
  background-size: 100%;
}

.add {
  display: none;
}

/* change ham image to close */
.showClose {
  background-image: url(/images/close.svg);
  width: 15px;
  height: 14px;
}

.navbar {
  position: absolute;
  top: 95px;
  left: 0;
  background: rgba(87, 46, 229, 0.9);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  /* transition adds a little animation when sliding in and out the menu */
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.showNav {
  /* show the menu */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* basic nav styling below */
.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  margin-bottom: 10%;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  border-bottom: 2px solid white;
}

#lightMode {
  display: none;
}

.title {
  margin-top: 107px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  padding: 0% 12%;
  line-height: 33px;
  font-weight: bold;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagen img {
  padding: 0% 13%;
  width: 100%;
  padding-top: 5%;
}

.container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 5%;
}

.search {
  width: 100%;
  height: 50px;
  border-radius: 27px;
  background-color: transparent;
  border: 1px solid #572EE5;
  text-indent: 14%;
  font-family: "Roboto", sans-serif;
}

.icon-search {
  background-image: url(/images/icon-search.svg);
  z-index: 4;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  right: 11%;
  margin-top: 13px;
}

.trending {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #572EE5;
  margin-top: 6%;
}

.mostsearch {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #572EE5;
  margin-right: 0.7%;
  display: inline-block;
}

.mostsearch:hover {
  border-bottom: 2px solid #5ED7C6;
}

.br {
  display: none;
}

#TT {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4%;
}

.activesearch {
  margin-top: 25%;
}

#searchimagesresults {
  margin-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

.imagesresults {
  width: 100%;
  height: 200px;
  margin-bottom: 1%;
  padding: 5%;
}

.icon-searchactive {
  background-image: url(/images/close.svg);
  width: 14px;
  height: 14px;
  margin-top: 18px;
}

.titlesearch {
  margin-top: 8%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  padding: 0% 12%;
  line-height: 33px;
  font-weight: bold;
}

.borde {
  margin-top: 14%;
  margin-left: 25%;
  width: 50%;
  border: 1px solid #9CAFC3;
}

.container-suggestions {
  margin: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #572EE5;
  border-top: none;
  border-bottom: none;
  height: 100%;
  border-radius: 27px;
  background-color: transparent;
}

.icon-suggestion {
  background-image: url(/images/icon-search.svg);
  z-index: 4;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: 3%;
}

.suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.choice {
  margin-left: 10%;
  margin-top: 3%;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
}

.mostview {
  background-color: #F3F5F8;
  margin-top: 5%;
  padding-bottom: 15%;
}

.titlemostview {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #572EE5;
  padding-top: 7%;
}

.desc {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16x;
  color: #000000;
  padding: 3% 10%;
}

.sliderimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
}

.imgGif {
  width: 250px;
  height: 250px;
  margin: 2%;
}

.overlay {
  display: none;
}

.text {
  display: none;
}

.left {
  display: none;
}

.right {
  display: none;
}

.footer-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #000000;
  padding-top: 5%;
}

.socialnetworks {
  text-align: center;
}

.socialnetworks img {
  margin: 5% 2%;
}

.copy {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 5%;
}

.conttitlefav {
  margin-top: 107px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 33px;
  font-weight: bold;
}

.images-fav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 5%;
}

.imagesfavresults {
  width: 100%;
  height: 250px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

.imagesfav {
  width: 100%;
}

.title-fav {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 33px;
  font-weight: bold;
}

.titlefavempty {
  color: #50E3C2;
  font-size: 18px;
}

.heartfavempty {
  width: 20%;
}

@media screen and (min-width: 768px) {
  header {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logomobile {
    display: none;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    top: unset;
    left: unset;
    padding: 1% 0% 1% 10%;
  }
  .ham {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -webkit-transform: none;
            transform: none;
    position: unset;
    top: unset;
    left: unset;
    background-color: unset;
    overflow: unset;
    height: unset;
    -webkit-transition: unset;
    transition: unset;
    width: unset;
  }
  .navbar .menu {
    width: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: unset;
            flex-flow: unset;
    margin: unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1%;
  }
  .navbar .menu li {
    text-align: center;
    width: 100%;
  }
  .navbar .menu li a {
    font-family: "Montserrat", sans-serif;
    color: #572EE5;
    font-weight: bold;
    border: none;
  }
  .navbar ul li a:hover, .navbar ul li a:focus {
    border-bottom: 2px solid #5ED7C6;
  }
  .add {
    display: unset;
    background-image: url(/images/button-crear-gifo.svg);
    width: 54px;
    height: 54px;
    background-color: transparent;
    border: none;
  }
  .add-hover {
    background-image: url(/images/CTA-crear-gifo-hover.svg);
  }
  .add-click {
    background-image: url(/images/CTA-crear-gifo-active.svg);
  }
  #lightMode {
    display: none;
  }
  .title {
    font-size: 35px;
    padding: 2% 15% 2% 15%;
    line-height: 50px;
  }
  .imagen img {
    padding: 0% 30%;
    width: 100%;
    padding-top: 5%;
  }
  .br {
    display: unset;
  }
  .container-search {
    padding: 0% 22%;
  }
  .search {
    font-size: 16px;
  }
  .icon-search {
    right: 25%;
  }
  .trending {
    font-size: 24px;
    font-weight: 700;
  }
  .mostsearch {
    font-size: 18px;
  }
  #TT {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: unset;
  }
  .activesearch {
    margin-top: 10%;
  }
  #searchimagesresults {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .borde {
    margin-top: 5%;
  }
  .titlesearch {
    margin-top: 5%;
    font-size: 24px;
  }
  .container-suggestions {
    margin: 0% 22%;
  }
  .border {
    border: 1px solid #572EE5;
    border-top: none;
  }
  .titlemostview {
    font-size: 25px;
    line-height: 30px;
  }
  .desc {
    font-size: 18px;
  }
  .slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 7fr 0.5fr;
        grid-template-columns: 0.5fr 7fr 0.5fr;
    margin: 1% 4%;
  }
  .left {
    display: unset;
    background-image: url(/images/button-slider-left.svg);
    width: 40px;
    height: 40px;
    background-color: none;
    border: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .right {
    display: unset;
    background-image: url(/images/Button-Slider-right.svg);
    width: 40px;
    height: 40px;
    background-color: none;
    border: none;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .leftHover {
    background-image: url(/images/button-slider-left-hover.svg);
  }
  .rigthHover {
    background-image: url(/images/Button-Slider-right-hover.svg);
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-text {
    font-size: 13px;
    margin-top: 2px;
  }
  .socialnetworks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 4% 6% 4% 9%;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .copy {
    padding: 4% 6% 4% 10%;
    margin-bottom: unset;
  }
  .sliderimages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    overflow-x: unset;
    gap: 1%;
  }
  .imgGif {
    height: 350px;
    width: 100%;
    margin: unset;
  }
  .card {
    position: relative;
  }
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    z-index: 400;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .card:hover .overlay {
    opacity: 0.6;
  }
  .text {
    display: block;
    color: white;
    font-size: 20px;
    position: relative;
    margin-top: 75%;
    margin-left: 10%;
  }
  .buttons {
    position: absolute;
    top: 2%;
    left: 60%;
  }
  .heart {
    background-image: url(/images/icon-fav.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: none;
    border-radius: 6px;
  }
  .download {
    background-image: url(/images/icon-download.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: none;
    border-radius: 6px;
    margin-left: 6px;
  }
  .max {
    background-image: url(/images/icon-max-normal.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: none;
    border-radius: 6px;
    margin-left: 6px;
  }
  .conttitlefav {
    text-align: center;
  }
  .images-fav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 5%;
  }
  .titlefavempty {
    color: #50E3C2;
    font-size: 22px;
  }
}
/*# sourceMappingURL=lightstyle.css.map */