@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.line {
  background-color: #572EE5;
  height: 5px;
  width: 100%;
}

.logo {
  display: none;
}

.logomobile {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 34px;
  left: 6%;
  width: 53px;
  height: 49px;
  border: none;
  cursor: pointer;
}

.logomobile img {
  width: 50px;
  height: 49px;
}

.ham {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 47px;
  right: 7%;
  width: 15px;
  height: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(/images/burger.svg);
  background-size: 100%;
}

.add {
  display: none;
}

/* change ham image to close */
.showClose {
  background-image: url(/images/close.svg);
  width: 15px;
  height: 14px;
}

.navbar {
  position: absolute;
  top: 95px;
  left: 0;
  background: rgba(87, 46, 229, 0.9);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  /* transition adds a little animation when sliding in and out the menu */
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.showNav {
  /* show the menu */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* basic nav styling below */
.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  margin-bottom: 10%;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  border-bottom: 2px solid white;
}

#lightMode {
  display: none;
}

.title {
  margin-top: 107px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  padding: 0% 12%;
  line-height: 33px;
  font-weight: bold;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagen img {
  padding: 0% 13%;
  width: 100%;
  padding-top: 5%;
}

.section-one-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 4%;
  border-radius: 20px;
  border: 1px solid #572EE5;
}

.div-search {
  height: 45px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div-search input {
  height: 100%;
  width: 90%;
  border: none;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  color: #000000;
  text-align: left;
  margin-left: 20px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.div-search i {
  display: none;
  color: #9CAFC3;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.div-search input:focus {
  outline: none;
}

.div-search input:focus ~ i {
  display: inline;
}

.div-search #search-button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border: none;
  cursor: pointer;
  padding: 0 15px;
  display: inline-block;
}

.div-search #delete-button {
  display: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  cursor: pointer;
  margin-right: 10px;
}

.ulSearch {
  list-style-type: none;
}

#container-search {
  position: relative;
  width: inherit;
  color: #9CAFC3;
}

#container-search li {
  background: url(/images/icon-search.svg) no-repeat left top;
  padding-left: 35px;
  cursor: pointer;
}

#container-search .icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  margin-bottom: 5px;
}

#container-search .icon-div i {
  width: 5%;
  margin-right: 15px;
}

.trending {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #572EE5;
  margin-top: 6%;
}

.mostsearch {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #572EE5;
  margin-right: 0.7%;
  display: inline-block;
}

.mostsearch:hover {
  border-bottom: 2px solid #5ED7C6;
}

.br {
  display: none;
}

#TT {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4%;
}

.activesearch {
  margin-top: 25%;
}

#searchimagesresults {
  margin-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

.cardSearch {
  width: 100%;
  height: 200px;
  margin-bottom: 1%;
  padding: 5%;
}

.titlesearch {
  margin-top: 8%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  padding: 0% 12%;
  line-height: 33px;
  font-weight: bold;
}

.borde {
  margin-top: 14%;
  margin-left: 25%;
  width: 50%;
  border: 1px solid #9CAFC3;
}

.container-suggestions {
  margin: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #572EE5;
  border-top: none;
  border-bottom: none;
  height: 100%;
  border-radius: 27px;
  background-color: transparent;
}

.icon-suggestion {
  background-image: url(/images/icon-search.svg);
  z-index: 4;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: 3%;
}

.suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.choice {
  margin-left: 10%;
  margin-top: 3%;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
}

.cardsearch {
  width: 100%;
}

.imgsearchresult {
  width: 100%;
  height: 200px;
  margin-bottom: 1%;
  padding: 5%;
}

.noresults {
  margin-top: 10%;
  text-align: center;
}

.titlenoresults {
  margin-top: 5%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #50E3C2;
  font-size: 22px;
}

.mostview {
  background-color: #F3F5F8;
  margin-top: 5%;
  padding-bottom: 15%;
}

.titlemostview {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #572EE5;
  padding-top: 7%;
}

.desc {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16x;
  color: #000000;
  padding: 3% 10%;
}

.sliderimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  gap: 5%;
}

.imgGif {
  width: 250px;
  height: 250px;
  margin: 6%;
}

.overlay {
  display: none;
}

.text {
  display: none;
}

.left {
  display: none;
}

.right {
  display: none;
}

.footer-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #000000;
  padding-top: 5%;
}

.socialnetworks {
  text-align: center;
}

.socialnetworks img {
  margin: 5% 2%;
}

.copy {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 5%;
}

.conttitlefav {
  margin-top: 107px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 33px;
  font-weight: bold;
}

.containersfav {
  margin-top: 5%;
}

.imagesfavs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

.imagesfavresults {
  width: 100%;
  height: 250px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

.imagesfav {
  width: 100%;
}

.title-fav {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 33px;
  font-weight: bold;
}

.titlefavempty {
  color: #50E3C2;
  font-size: 18px;
}

.heartfavempty {
  width: 20%;
}

.heartactive {
  background-image: url(/images/icon-fav-active.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

#container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contbutton {
  width: 100%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#cross {
  background-image: url(/images/close.svg);
  width: 14px;
  height: 14px;
  background-repeat: none;
  background-position: center;
  background-color: transparent;
  border: none;
  background-color: none;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 8%;
}

.imgGifmax {
  width: 90%;
  height: 245px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contimagemax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 385px;
}

#titleMaxGif {
  margin-right: 25%;
}

#download {
  background-image: url(/images/icon-download.svg);
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: none;
  border: none;
  background-color: transparent;
}

#favoritos {
  background-image: url(/images/icon-fav.svg);
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: none;
  border: none;
  background-color: transparent;
}

#legend {
  margin-top: 2%;
  padding: 0% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titleGifMax {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.userGifMax {
  font-family: "Roboto", sans-serif;
}

.heartMax {
  background-image: url(/images/icon-fav.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-position: center;
  background-repeat: none;
  background-color: transparent;
  border-radius: 6px;
}

.buttonsMaxGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.overlaysearch {
  display: none;
}

.heartactive {
  background-image: url(/images/icon-fav-active.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.pages {
  width: 95%;
  text-align: center;
  margin-top: 5%;
}

.page {
  margin-left: 5%;
  width: 34px;
  height: 34px;
  border: none;
  color: #9CAFC3;
  font-size: 16px;
  background-color: transparent;
  background-repeat: none;
}

.actualpage {
  margin-left: 5%;
  width: 34px;
  height: 34px;
  border: none;
  font-size: 16px;
  background-color: #572EE5;
  color: white;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  header {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logomobile {
    display: none;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    top: unset;
    left: unset;
    padding: 1% 0% 1% 10%;
  }
  .ham {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -webkit-transform: none;
            transform: none;
    position: unset;
    top: unset;
    left: unset;
    background-color: unset;
    overflow: unset;
    height: unset;
    -webkit-transition: unset;
    transition: unset;
    width: unset;
  }
  .navbar .menu {
    width: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: unset;
            flex-flow: unset;
    margin: unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1%;
  }
  .navbar .menu li {
    text-align: center;
    width: 100%;
  }
  .navbar .menu li a {
    font-family: "Montserrat", sans-serif;
    color: #572EE5;
    font-weight: bold;
    border: none;
  }
  .navbar ul li a:hover, .navbar ul li a:focus {
    border-bottom: 2px solid #5ED7C6;
  }
  .add {
    display: unset;
    background-image: url(/images/button-crear-gifo.svg);
    width: 54px;
    height: 54px;
    background-color: transparent;
    border: none;
  }
  .add-hover {
    background-image: url(/images/CTA-crear-gifo-hover.svg);
  }
  .add-click {
    background-image: url(/images/CTA-crear-gifo-active.svg);
  }
  #lightMode {
    display: none;
  }
  .title {
    font-size: 35px;
    padding: 2% 15% 2% 15%;
    line-height: 50px;
  }
  .imagen img {
    padding: 0% 30%;
    width: 100%;
    padding-top: 5%;
  }
  .br {
    display: unset;
  }
  .section-one-div {
    margin: 0% 25%;
    width: 50%;
  }
  .div-search {
    width: 90%;
  }
  .trending {
    font-size: 24px;
    font-weight: 700;
  }
  .mostsearch {
    font-size: 18px;
  }
  #TT {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: unset;
  }
  .activesearch {
    margin-top: 10%;
  }
  #searchimagesresults {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
  }
  .borde {
    margin-top: unset;
  }
  .titlesearch {
    margin-top: 5%;
    font-size: 24px;
  }
  .container-suggestions {
    margin: 0% 22%;
  }
  .border {
    border: 1px solid #572EE5;
    border-top: none;
  }
  .cardsearch {
    height: 350px;
    position: relative;
    margin: none;
    padding: none;
  }
  .contGifsearch {
    width: 100%;
    height: 350px;
  }
  .imgsearchresult {
    width: 100%;
    height: 100%;
    margin: unset;
    padding: unset;
  }
  .overlaysearch {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .cardsearch:hover .overlaysearch {
    opacity: 0.6;
  }
  #titlesearchresult {
    margin: 0px 25px;
  }
  #container-search {
    width: 100%;
  }
  .noresults {
    margin-top: 5%;
  }
  .noresults img {
    width: 20%;
  }
  .titlemostview {
    font-size: 25px;
    line-height: 30px;
  }
  .desc {
    font-size: 18px;
  }
  .slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 7fr 0.5fr;
        grid-template-columns: 0.5fr 7fr 0.5fr;
    margin: 1% 4%;
  }
  .left {
    display: unset;
    background-image: url(/images/button-slider-left.svg);
    width: 40px;
    height: 40px;
    background-color: none;
    border: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .right {
    display: unset;
    background-image: url(/images/Button-Slider-right.svg);
    width: 40px;
    height: 40px;
    background-color: none;
    border: none;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .left:hover {
    background-image: url(/images/button-slider-left-hover.svg);
  }
  .right:hover {
    background-image: url(/images/Button-Slider-right-hover.svg);
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-text {
    font-size: 13px;
    margin-top: 2px;
  }
  .socialnetworks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 4% 6% 4% 9%;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .copy {
    padding: 4% 6% 4% 10%;
    margin-bottom: unset;
  }
  .sliderimages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    overflow-x: unset;
    gap: 1%;
  }
  .imgGif {
    height: 400px;
    width: 100%;
    margin: unset;
  }
  .card {
    position: relative;
    height: 400px;
  }
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .card:hover .overlay {
    opacity: 0.6;
  }
  .text {
    display: block;
    color: white;
    font-size: 20px;
    position: relative;
    margin-top: 70%;
    margin-left: 10%;
  }
  .buttons {
    position: absolute;
    top: 2%;
    left: 60%;
  }
  .heart {
    background-image: url(/images/icon-fav.svg);
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
  }
  .download {
    background-image: url(/images/icon-download.svg);
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 6px;
    margin-left: 6px;
  }
  .max {
    background-image: url(/images/icon-max-normal.svg);
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    margin-left: 6px;
  }
  .heart:hover {
    background-image: url(/images/icon-fav-hover.svg);
    background-color: white;
    width: 32px;
    height: 32px;
  }
  .heartactive {
    background-image: url(/images/icon-fav-active.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }
  .max:hover {
    background: white;
    background-image: url(/images/icon-max-hover.svg);
    opacity: 1;
  }
  .download:hover {
    background-image: url(/images/icon-download-hover.svg);
  }
  .conttitlefav {
    text-align: center;
  }
  .containersfav {
    margin: 5% 2%;
  }
  .imagesfavs {
    display: -ms-grid;
    display: grid;
    gap: 2%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .titlefavempty {
    color: #50E3C2;
    font-size: 22px;
  }
  #contbutton {
    width: 100%;
    margin-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #cross {
    margin-right: 15%;
  }
  .imgGifmax {
    width: 650px;
    height: 550px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #titleMaxGif {
    margin-right: 25%;
  }
  #legend {
    margin-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10%;
  }
  .titleGifMax {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  .userGifMax {
    font-family: "Roboto", sans-serif;
  }
  .pages {
    margin-top: 10%;
  }
  .miGif {
    padding: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 6fr 1fr;
        grid-template-columns: 1fr 6fr 1fr;
    gap: 4%;
  }
  .camara {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .rectanglerecord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 1px solid #572EE5;
    height: 500px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .rollograbacion {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .box1 {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .box2 {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    left: 90%;
  }
  .box3 {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90%;
    left: 5%;
  }
  .box4 {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90%;
    left: 90%;
  }
  .containertitle {
    text-align: center;
    padding: 5%;
    width: 100%;
  }
  .titlemygif {
    font-family: "Montserrat", sans-serif;
    color: #572EE5;
  }
  .subtitle {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 16px;
  }
  .controles {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4%;
    padding: 0% 5%;
    margin-left: 1%;
  }
  .botones {
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10%;
    margin-bottom: 5%;
  }
  .firststep {
    border: 1px solid #572EE5;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    color: #572EE5;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }
  .secondstep {
    border: 1px solid #572EE5;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    color: #572EE5;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }
  .thirdstep {
    border: 1px solid #572EE5;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    color: #572EE5;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }
  .breakline {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70%;
    padding: 7px 5%;
    background-color: #572EE5;
    margin-bottom: 3%;
  }
  .buttonstart {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 1.5%;
    font-weight: bold;
    margin-bottom: 10%;
  }
  .buttonstart:hover, .buttonrecord:hover, .buttonend:hover, .buttonupload:hover {
    background-color: #572EE5;
    color: white;
  }
  .activecamara {
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 10%;
    width: 80%;
    height: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  .activecamara > video {
    width: 100%;
  }
  .buttonrecord {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 1.5%;
    font-weight: bold;
    margin-bottom: 10%;
    display: none;
  }
  .buttonend {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 1.5%;
    font-weight: bold;
    margin-bottom: 10%;
    display: none;
  }
  .buttonupload {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 1.5%;
    font-weight: bold;
    margin-bottom: 10%;
    display: none;
  }
  .gifograbado {
    display: none;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 480px;
    height: 100%;
  }
  .stepactive {
    background-color: #572EE5;
    color: white;
  }
  .repetir {
    position: absolute;
    right: 20%;
    margin-top: 7px;
    font-family: "Montserrat", sans-serif;
    color: #572EE5;
    font-weight: bold;
    display: none;
  }
  .repetir:hover {
    border-bottom: 2px solid #572EE5;
  }
  .containerGifo {
    position: relative;
  }
  .overlaygifupload {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: 0.6;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #572EE5;
  }
  .containerupload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
  .logoupload {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .titleupload {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
  }
  .logosuccess {
    display: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .titleuploadsuccess {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    display: none;
  }
  .erase {
    background-image: url(/images/icon-trash-normal.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-position: center;
    background-repeat: none;
    background-color: transparent;
    border-radius: 6px;
  }
  .erase:hover {
    background-image: url(/images/icon-trash-hover.svg);
  }
}
/*# sourceMappingURL=lightstyle.css.map */