* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
$fontprincipal: 'Montserrat', sans-serif;
$fontsecundario: 'Roboto', sans-serif;
$colordiurno:  #572EE5;

@import 'mobilenav';
@import 'mobiletitle';
@import 'mostviewmobile';
@import 'footermobile';
@import 'favoritosmobile';
@import 'maxGifmobile';
@import 'paginationmobile';



@media screen and (min-width: 768px){
  @import 'navdesktop';
  @import 'titledesktop';
  @import 'mostviewdesktop';
  @import 'footerdesktop';
  @import 'hoverimages';
  @import 'favoritos';
  @import 'maxGif';
  @import 'pagination';
  @import 'crearGifo';
  @import 'misgifos';
}