@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.purple {
  background-color: #572EE5;
  height: 5px;
  width: 100%;
}

.logo {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 34px;
  left: 6%;
  width: 53px;
  height: 49px;
  border: none;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 49px;
}

.ham {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 47px;
  right: 7%;
  width: 15px;
  height: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(/images/burger.svg);
  background-size: 100%;
}

/* change ham image to close */
.showClose {
  background-image: url(/images/close.svg);
  width: 15px;
  height: 14px;
}

.navbar {
  position: absolute;
  top: 95px;
  left: 0;
  background: rgba(87, 46, 229, 0.9);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  /* transition adds a little animation when sliding in and out the menu */
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.showNav {
  /* show the menu */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* basic nav styling below */
.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  margin-bottom: 10%;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  border-bottom: 2px solid white;
}

#lightmode {
  display: none;
}

.title {
  margin-top: 107px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  padding: 0% 12%;
  line-height: 33px;
  font-weight: bold;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagen img {
  padding: 0% 13%;
  width: 100%;
  padding-top: 5%;
}

.container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0% 5%;
  height: 50px;
}

.search {
  width: 100%;
  border-radius: 27px;
  background-color: transparent;
  border: 1px solid #572EE5;
  text-indent: 14%;
  font-family: "Roboto", sans-serif;
}

.icon-search {
  background-image: url(/images/icon-search.svg);
  z-index: 4;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  right: 11%;
  margin-top: 13px;
}

.trending {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #572EE5;
  margin-top: 4%;
}
/*# sourceMappingURL=lightstyle.css.map */