.conttitlefav {
    margin-top: 107px;
    font-family: $fontprincipal;
    text-align: center;
    color: $colornocturno;
    font-size: 25px;
    line-height: 33px;
    font-weight: bold;
    
}
.images-fav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 5%;
}

.imagesfavresults{
   width: 100%;
    height: 250px;
    padding-left:3%;
    padding-right: 3%;
    padding-bottom: 2%;
    
}
.imagesfav{
    width: 100%;
}
.title-fav{
    font-family: $fontprincipal;
    text-align: center;
    color: $colornocturno;
    font-size: 25px;
    line-height: 33px;
    font-weight: bold;
}

.titlefavempty{
    color: white;
    font-size: 18px;
}
.heartfavempty{
    width: 20%;
}