.footer-text{
    text-align: center;
    font-family: $fontsecundario;
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 5%;
}

.socialnetworks{
    text-align: center;
    
}
.socialnetworks img{
    margin: 5% 2%;
}

.copy{
    text-align: center;
    font-family: $fontsecundario;
    font-size: 14px;
    margin-bottom: 5%;
    color: #FFFFFF;
}