.mostview{
    background-color: #222326;
    margin-top: 5%;
    padding-bottom: 15%;
}
.titlemostview{
    text-align: center;
    font-family: $fontprincipal;
    font-weight: bold;
    font-size: 20px;
    color: $colornocturno;
    padding-top: 7%;
}

.desc{
    text-align: center;
    font-family: $fontsecundario;
    font-size: 16x;
    color: $colornocturno;
    padding: 5% 10%;
}
.sliderimages{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 5%;
}
.imgGif{
    width: 250px;
    height: 250px;
    margin: 6%;
}
.overlay{
    display: none;
}
.text{
    display: none;
}
.left{
    display: none;
}
.right{
    display: none;
}