.title{
    font-size: 35px;
    padding: 2% 15% 2% 15%;
    line-height: 50px;
    
}

.imagen img{
    padding: 0% 30%;
    width: 100%;
    padding-top: 5%;
}
.br{
    display: unset;
}
.container-search{
    padding: 0% 22%;
    
}
.search{
    font-size: 16px;
}
.icon-search{
    right: 25%;
}
.trending{
    font-size: 18px;
    font-weight: 700;
}